.artlinks a{
	color:red;
	font-family:arial,sans-serif;
	font-size:25px;
	text-align:left;
	word-spacing:7px;
	margin-left: 1%;
	text-decoration: none;
}

.artlinks a:visited{
	color:brown;
	font-family:arial,sans-serif;
	font-size:25px;
	text-align:left;
	word-spacing:7px;
	margin-left: 1%;
	text-decoration: none;
}
.artlinks a:hover{
	color:black;
	font-family:arial,sans-serif;
	font-size:25px;
	text-align:left;
	word-spacing:7px;
	margin-left: 1%;
	text-decoration: underline;
}

